<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h3>Greetings Entrepreneur,</h3>
        <p>We have witnessed some magnificent
            results already.</p>
        <p>The super hero's in life are everyday
            people just like you.</p>
        <div>
            <a href="https://cloudtokensystem.com/?aff=robertocrypto"><button type="button" class="btn btn-primary btn-rounded">Click here to supercharge your
                    success!</button></a>
        </div>
        <div>
            <h4>Refuse To Lose,</h4>
            <p>Robert Vandelanotte</p>
            <span>
                <p>Let's connect on media: here <a href="https://www.facebook.com/moneyeveryday20min"><button type="button" class="btn btn-sm btn-fb"><i class="fab fa-facebook-f pr-1"></i>Facebook</button></a></p>
                
            </span>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
</body>

</html>